body
{
	background:linear-gradient(rgb(164, 225, 225),rgb(242, 164, 164));
}

.login_div1 { 
	background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
		box-shadow: 10px 10px 5px rgba(34, 56, 57, 0.79);
}

.login_div2 {
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
		box-shadow: 10px 10px 5px rgba(57, 34, 34, 0.744);
}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}

h3 {
	font-family: 'Delicious Handrawn', cursive;
}

label {
	color:gray;
	font-family: 'Delicious Handrawn', cursive;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}

button {
	width:30%;
	box-shadow: 10px 10px 5px rgba(57, 34, 34, 0.705);
	background-color: rgb(170, 229, 239);
	font-family: 'Delicious Handrawn', cursive;
}

h1 {
	font-family: 'Sedgwick Ave Display', cursive;
}